<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Length:</strong>
  <%= @comment.length %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment), remote: true %> |
<%= link_to 'Back', comments_path %>
