<!DOCTYPE html>
<html>
<head>
  <title>Profane Alice</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="/javascripts/jquery-1.10.2.min.js"></script>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script src="http://js.pusherapp.com/2.1/pusher.min.js" type="text/javascript"></script>

<script type="text/javascript">

    var pusher = new Pusher('08ad4c8d921285548468');
    var channel = pusher.subscribe('test_channel');

    channel.bind('create', function(comment) {
      $comment_html = '<li style="display: none;" id="' + comment.id + '" class="comment"></li>';
		(comment_html).prependTo("#comments").delay(300).fadeIn();
    });

  </script>

</head>
<body>
	<%= render 'layouts/header' %>	
	<div class = "container">
		
		<%= yield %>
	</div>
	<div class = "container">
    <%= render 'layouts/footer' %>
	</div>
</body>
</html>


